.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 20px;
  background-color: rgba(79, 79, 79, 0.3);  
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  box-shadow: 0px 3px 7.5px gray;
}

.logo {
  width: 80px;
}

.nav--buttons {
  list-style-type: none;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.nav--button {
  padding: 20px;
  border: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  font-size: x-large;
}

.nav--button:hover {
  color: maroon;
}

.socialLogo {
  width: 30px;
  margin-right: 20px;
  padding-left: -10px;
  padding-right: 0px;
}

.home {
  padding-top: 70px;
  height:700px;
  background-color: rgb(105, 25, 25);
}

.center--logo {
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.left--buttons {
  position: relative;
  top: 200px
}